repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
  - repo: local
    hooks:
      - id: radon
        name: radon
        entry: radon cc -a -s -nb workingless/
        language: python
        types: [python]
  - repo: local
    hooks:
      - id: test
        name: tests
        entry: pytest -s -vvv tests/
        language: python
        types: [python]
